<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092973278003-bipnu1vn32g5vaekm9h6ehf0d4q9mj9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092973278003-bipnu1vn32g5vaekm9h6ehf0d4q9mj9q</string>
	<key>API_KEY</key>
	<string>AIzaSyCFycdepqRtrEmWM-NUc6XKnIOyZDnwB1M</string>
	<key>GCM_SENDER_ID</key>
	<string>1092973278003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.absoluteCinema</string>
	<key>PROJECT_ID</key>
	<string>absolutecinema-bb190</string>
	<key>STORAGE_BUCKET</key>
	<string>absolutecinema-bb190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092973278003:ios:353214c156d1fdd6888446</string>
</dict>
</plist>